@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  color: white;
}

::-webkit-scrollbar {
  width: 2px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scroll thumb on hover */
}

.sidebar {
  width: 25%; 
  transition: width 0.5s;
}

.dynamic-page {
  margin-left: 25%; 
  transition: margin-left 0.5s;
}


@media (max-width: 768px) {
  .sidebar {
    width: 100%; 
  }

  .dynamic-page {
    margin-left: 0; 
  }
  .dynamic-page.active{
    width:100%;
  }
}

@media (min-width:768px){
  .dynamic-page.active{
    width:75%;
  }
}

.dynamic-page.active {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50; 
}
